.container {
	display: grid;
	padding-top: 2rem;
	padding-bottom: 2.5rem;
	padding-inline: 1rem;
	gap: 2rem;
}

.container section {
	border-radius: 0.5rem;
}

.faster-social-media {
	background: var(--purple-500);
	color: white;
	padding: 2.5rem 2.75rem;
	display: grid;
	align-content: center;
	text-align: center;
	gap: 1.5rem;
}

.faster-social-media h1 {
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 1;
}

.faster-social-media img {
	padding-inline: 1.75rem;
	margin-bottom: 0.5rem;
	margin-inline: auto;
}

.faster-social-media span {
	font-weight: 400;
}

.manage-multiple-accounts {
	background: var(--white);
	display: grid;
	align-content: center;
	justify-items: center;
	text-align: left;
	gap: 1rem;
	padding: 1rem;
}

.social-container {
	display: flex;
	gap: 0.75rem;
}

.social-wrapper {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 0.6rem;
	border-radius: 100px;
	gap: 0.5rem;
	text-align: left;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.social-wrapper svg {
	fill: var(--purple-500);
	height: 1.6rem;
	width: 1.6rem;
}

.social-svg {
	display: flex;
	background: var(--yellow-500);
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	padding: 0.2rem;
}

.social-text {
	display: grid;
	align-content: center;
	margin-right: 0.5rem;
}

.social-text p {
	font-size: 0.875rem;
	font-weight: 500;
}

.social-text span {
	font-size: 0.675rem;
	color: var(--gray-500);
}

.social-main-text {
	font-weight: 500;
	font-size: 1.375rem;
}

.consistent-schedule {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.75rem;
	background: var(--yellow-500);
	padding: 1rem;
	overflow: hidden;
}

.consistent-schedule h3 {
	grid-column: 1 / -1;
	font-weight: 500;
	font-size: 1.375rem;
}

.consistent-schedule img {
	grid-column: 1 / 3;
	margin-bottom: -2rem;
}

.schedule-social-media {
	background: var(--purple-100);
	padding: 2rem 1rem;
	display: grid;
	gap: 1.5rem;
	text-align: center;
}

.schedule-social-media h3 {
	font-weight: 500;
	font-size: 1.375rem;
}

.grow-followers {
	background: var(--purple-500);
	padding: 1.5rem 3.5rem;
	display: grid;
	gap: 2.5rem;
	text-align: center;
}

.grow-followers h2 {
	color: var(--white);
	font-weight: 400;
	line-height: 1;
	font-size: 1.75rem;
}

.audience-growth {
	background: var(--white);
	text-align: left;
	display: grid;
	gap: 1.25rem;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem;
}

.audience-growth h2 {
	grid-column: 1 / -1;
	font-size: 3rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-bottom: -0.5rem;
}

.audience-growth h2 span {
	padding-bottom: 0.5rem;
}

.audience-growth p {
	grid-column: 1 / -1;
	font-weight: 400;
}

.audience-growth img {
	grid-column: 1 / 3;
}

.create-content {
	background: var(--yellow-100);
	padding: 2rem;
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
}

.create-content h2 {
	grid-column: 1 / -1;
	font-weight: 500;
	line-height: 1;
	font-size: 1.675rem;
}

.create-content img {
	grid-column: 1 / 3;
}

.ai-content {
	background: var(--yellow-500);
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

.ai-content img {
	grid-column: 1 / 3;
}
