/* Social Media 10x Faster with AI */

.primary {
	background: var(--purple-500);
	color: white;
	padding: 2.5rem 2.75rem;
	display: grid;
	align-content: center;
	text-align: center;
	gap: 1.5rem;
}

.primary__reviews-wrapper {
	display: grid;
	gap: 0.5rem;
}

.primary__reviews-img {
	margin-inline: auto;
	max-width: 200px;
	width: 100%;
}

.primary__reviews-text {
	font-weight: 400;
}

/* Manage multiple accounts and platforms */

.multiple-accounts {
	background: var(--white);
	text-align: left;
	gap: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.multiple-accounts__social-list {
	display: flex;
	gap: 0.5rem;
	align-self: center;
}

.multiple-accounts__social-item {
	display: grid;
	grid-template-columns: auto auto;
	padding: 0.5rem;
	border-radius: 100px;
	gap: 0.5rem;
	text-align: left;
	box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
	flex-shrink: 0;
}

.multiple-accounts__social-icon {
	display: flex;
	background: var(--yellow-500);
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	padding: 0.2rem;
}

.multiple-accounts__social-icon--svg {
	fill: var(--purple-500);
	height: 1.6rem;
	width: 1.6rem;
}

.multiple-accounts__social-info--wrapper {
	display: grid;
	align-content: center;
	margin-right: 0.5rem;
}

.multiple-accounts__social-username {
	font-size: 0.875rem;
	font-weight: 500;
}

.multiple-accounts__social-followers {
	font-size: 0.675rem;
	color: var(--gray-500);
}

/* Maintain a consistent posting schedule. */

.posting-schedule {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
	background: var(--yellow-500);
	padding: 1rem;
	overflow: hidden;
}

.posting-schedule__img {
	margin-bottom: -2rem;
}

/* Schedule to social media. */

.optimal-schedule {
	background: var(--purple-100);
	padding: 2rem 1rem;
	display: flex;
	gap: 1.5rem;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Grow followers with non-stop content.s */

.grow-followers {
	background: var(--purple-500);
	padding: 1.5rem 3rem;
	display: grid;
	gap: 2.5rem;
	text-align: center;
	align-content: center;
	justify-items: center;
}

.grow-followers__img {
	max-width: 80%;
	align-self: center;
}

/* faster audience growth */

.audience-growth {
	background: var(--white);
	text-align: left;
	display: grid;
	gap: 1.25rem;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem;
}

.audience-growth__percentage {
	grid-column: 1 / -1;
	font-size: 3rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-bottom: -0.5rem;
}

.audience-growth__symbol {
	padding-bottom: 0.5rem;
}

.audience-growth__text {
	grid-column: 1 / -1;
}

/* Create and schedule content quicker. */

.create-content {
	background: var(--yellow-100);
	padding: 2rem;
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
}

/* Write your content using AI. */

.ai-content {
	background: var(--yellow-500);
	padding: 1.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

@media (min-width: 28.125em) {
	.posting-schedule {
		padding: 1.5rem;
	}

	.audience-growth__percentage {
		font-size: 4rem;
	}

	.multiple-accounts__social-icon {
		padding: 0.5rem;
	}

	.multiple-accounts__social-list {
		gap: 1rem;
	}

	.multiple-accounts__social-item {
		padding: 0.75rem;
	}

	.optimal-schedule__img {
		max-width: 80%;
	}

	.grow-followers__img {
		max-width: 80%;
	}
}

@media (min-width: 37.5em) {
	.primary {
		grid-column: span 2;
		order: 0;
	}

	.multiple-accounts {
		order: 1;
		padding: 1.5rem;
		overflow: hidden;
	}

	.multiple-accounts__social-list {
		align-self: start;
	}

	.posting-schedule {
		order: 2;
	}

	.posting-schedule__img {
		grid-column: 1 / -1;
		margin-bottom: -6rem;
	}

	.optimal-schedule {
		text-align: left;
		padding-inline: 2rem;
		grid-row: span 2;
		order: 4;
		overflow: hidden;
	}

	.optimal-schedule__img {
		max-height: 350px;
		max-width: none;
		margin-right: -10rem;
		flex-shrink: 0;
		flex-grow: 0;
		align-self: flex-start;
	}

	.grow-followers {
		grid-column: span 2;
		grid-template-columns: 3fr 4fr;
		gap: 1rem;
		order: 3;
		padding: 1.5rem;
	}

	.grow-followers__title {
		grid-column: 2 / -1;
		display: flex;
		align-items: center;
		text-align: left;
		font-weight: 400;
	}

	.grow-followers__img {
		max-width: 100%;
	}

	.audience-growth {
		order: 4;
	}

	.create-content {
		order: 4;
	}

	.ai-content {
		order: 4;
	}
}

@media (min-width: 62.5em) {
	.create-content {
		order: -1;
		grid-row: span 3;
		align-content: center;
		padding-inline: 2rem;
	}

	.primary {
		order: 0;
		grid-row: span 2;
		padding-block: 4rem;
	}

	.optimal-schedule {
		order: 1;
		grid-row: span 4;
		justify-content: center;
	}

	.multiple-accounts {
		order: 2;
		grid-row: span 2;
	}

	.posting-schedule {
		order: 3;
		grid-row: span 2;
	}

	.ai-content {
		order: 4;
		grid-row: span 3;
	}

	.audience-growth {
		order: 5;
		grid-row: span 2;
	}

	.grow-followers {
		order: 6;
		grid-row: span 2;
	}
}
